body {
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 393px;
}

.container-pilih-layanan {
    height: 70px;
    background-color: #C7E5F5;
    display: flex;
    align-items: center;
    justify-content: start;

}

.arrowback img {
    width: 36px;
    height: 36px;
    margin-left: 12px;
}

.content {
    margin-top: 16px;
    margin-left: 16px;
    width: 361px;
    height: 500px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.header-content {
    color: #FFFFFF;
    height: 100px;
    background-color: #39A7FF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}